/*============================
#contents
============================*/
div#contents.contact-inner {
  padding-top: 160px;
  width:1000px;
  margin: 0px auto 50px;
}
div#contents.contact-inner div.block01 h1{
  font-weight:bold;
  font-size:150%;
  text-align:center;
}
div#contents.contact-inner div.block01 h2 {
  background: url(/images/common/icon_logo_wht.png) no-repeat center 130px;
}
div#contents.contact-inner div.block01 p, div#contents.contact-inner div.block02 p, div#contents.contact-inner div.block03 p {
  font-size: 116%;
  line-height: 1.8em;
}
div#contents.contact-inner div.block01 h2, div#contents.contact-inner div.block02 h2, div#contents.contact-inner div.block03 h2 {
  margin-bottom: 25px;
}
div#contents.contact-inner div.block01 {
  width:800px;
  margin:0 auto;
  overflow: hidden;
  *zoom: 1;
}
.form-group{
  width:800px;
  margin:0 auto;
	background-color:#FFEFBF;
	padding: 1em 0.5em;
	line-height: 1.8;
	font-size:116%;
}

.form-group:nth-child(even){
	background-color: #FEF9E3;
}

div#contents.contact-inner div.linkArea {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  text-align: center;
  padding: 55px 0;
  margin-top: 90px;
}
div#contents.contact-inner div.linkArea dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 45px;
}
div#contents.contact-inner div.linkArea dl dt {
  margin-bottom: 35px;
}
div#contents.contact-inner div.linkArea dl dd {
  margin-bottom: 6px;
}
