@charset "UTF-8";
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

a:visited {
  color: #333;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.gothic {
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ","ＭＳ Ｐゴシック",sans-serif;
}

a.btnWht {
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #fff;
  padding: 12px 0;
}
a.btnWht:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a.btnBlk {
  color: #000;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #000;
  padding: 12px 0;
}
a.btnBlk:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

/*============================
#header
============================*/
div#header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: url(../../images/common/bg_head.png) repeat 0 0;
  z-index: 1000;
}
div#header.intro {
  background-color: #fff;
}
div#header p.logo {
  padding: 10px 0 0 10px;
  float: left;
}
div#header ul {
  float: right;
  padding-top: 22px;
  padding-right: 20px;
  font-size:16px;
}
div#header ul li {
  float: left;
  padding-left: 12px;
}
div#header ul.mainMenu {
  font-size: 150%;
  margin-right: 20px;
}
div#header ul.mainMenu li {
  padding-left: 20px;
}

/*============================
#contents
============================*/
div#contents {
  max-width: 1000px;
  margin: 0 auto;
}

/*============================
#footer
============================*/

div#contact{
  clear: both;
  text-align: center;
  padding-bottom: 100px;
  font-family: "游明朝体", YuMincho, "ヒラギノ明朝 ProN W3", "HiraMinProN-W", "Hiragino Mincho Pro", "メイリオ", Meiryo, "HG明朝E" ,"ＭＳ Ｐ明朝","ＭＳ 明朝", serif;
}

div#contact h2 {
  padding: 50px 0 65px;
  margin-bottom: 40px;
  background: url(../../images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contact h3 {
  padding: 35px 0 10px;
}
div#contact p.tel {
  font-size: 416%;
  line-height: 1.0em;
  margin: 15px 0 5px;
  letter-spacing: 1px;
}
div#contact p.fax {
  font-size: 166%;
  margin: 15px 0 25px;
  letter-spacing: 1px;
}
div#contact p a.btnBlk {
  width: 1000px;
  font-size: 183%;
  padding: 32px 0;
  margin-top: 35px;
}

div#footer {
  border-top: solid 1px #e5e5e5;
  text-align: center;
  padding: 40px 0 50px;
}

div#footer .info {
  width: 600px;
  margin: 0 auto;
}
div#footer li {
  display: inline-block;
}
div#footer h2 {
  font-size: 133%;
  margin-bottom: 15px;
}
div#footer ul.link {
  line-height: 1.6em;
}
div#footer ul.link li:after {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 1px;
  height: 12px;
  background-color: #000;
  margin: 0 10px;
}
div#footer ul.link li.al:after {
  white-space: pre;
  content: "\a";
  margin-right: 0;
  display: inline;
}
div#footer ul.link li.last:after {
  content: none;
  margin: 0;
}
div#footer p.copyright {
  margin-top: 40px;
}

p#pagetop {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
p#pagetop a {
  display: block;
  width: 48px;
  height: 48px;
  background: url(../../images/common/arrow02.png) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}
p#pagetop a:hover {
  background-position: 0 bottom;
}
