/*============================
#top
============================*/

html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

div.introduction {
  background: url(../../images/top/img_main.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  text-align: center;
  z-index: 900;
  overflow: hidden;
}

div.introduction div.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
div.introduction div.inner p {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 258px 55px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.4);
  opacity: 0.4;
  position: relative;
}

div.introduction div.inner p img {
  opacity:0.6;
  filter:alpha(opacity=60);
}

div.introduction div.inner p img:hover{
  opacity:0.9;
  filter:alpha(opacity=90);
}

div.introduction div.inner h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 100px 65px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
div.introduction div.inner p.arrow {
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -30px;
  padding: 0;
}
div.introduction div.inner p.arrow a {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../../images/common/arrow01.png) no-repeat 0 0;
}
div.introduction div.inner p.arrow a:hover {
  background-position: 0 bottom;
}

/*============================
#contents
============================*/
div#contents.top h2 {
  padding: 100px 0 40px;
  text-align: center;
}
div#contents.top ul.know {
  margin-right: -2px;
  overflow: hidden;
  *zoom: 1;
}
div#contents.top ul.know li {
  float: left;
  width: 499px;
  height: 450px;
  text-align: center;
  margin-right: 2px;
  margin-bottom: 2px;
  position: relative;
}
div#contents.top ul.know li h3 {
  padding-top: 150px;
  padding-bottom: 15px;
}
div#contents.top ul.know li p {
  color: #fff;
  font-size: 133%;
  line-height: 1.6em;
}
div#contents.top ul.know li p a.btnWht {
  width: 54%;
  margin-top: 20px;
  font-size: 116%;
}
div#contents.top ul.know li.box01 {
  background: url(../../images/top/img_know01.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box02 {
  background: url(../../images/top/img_know02.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box02 p.sub {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 110px;
}
div#contents.top ul.know li.box03 {
  background: url(../../images/top/img_know03.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box04 {
  background: url(../../images/top/img_know04.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top div.read {
  background: url(../../images/top/img_read.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.read h3 {
  padding: 90px 0 40px;
}
div#contents.top div.read dl {
  color: #fff;
}
div#contents.top div.read dl dd {
  font-size: 116%;
  margin-bottom: 10px;
}
div#contents.top div.read dl dt {
  font-size: 150%;
  margin-bottom: 25px;
}
div#contents.top div.read dl dt a {
  color: #fff;
}
div#contents.top div.read p a.btnWht {
  width: 440px;
  margin-top: 15px;
  font-size: 150%;
}
div#contents.top div.look {
  background: url(../../images/top/img_look.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.look h3 {
  padding: 170px 0 30px;
}
div#contents.top div.look p {
  font-size: 133%;
  color: #fff;
}
div#contents.top div.look p a.btnWht {
  width: 440px;
  margin-top: 30px;
  font-size: 116%;
}
div#contents.top div.visit {
  background: url(../../images/top/img_visit.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.visit h3 {
  padding: 145px 0 30px;
}
div#contents.top div.visit p {
  font-size: 133%;
  color: #fff;
}

div#contents.top div.visit p a.btnWht {
  width: 440px;
  margin-top: 30px;
  font-size: 116%;
/* coming soon中 */
  cursor: normal;
/* /coming soon中 */
}

div#contents.top div.visit p a.btnWht:hover{
  color: #ffffff;
  border: solid 1px #ffffff;
  background: none;

}

/* /coming soon中 */

div#contents.top div.news h2 {
  padding-bottom: 65px;
  margin-bottom: 25px;
  background: url(../../images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contents.top div.news ul {
  border-bottom: solid 1px #ccc;
  margin-bottom: 40px;
}
div#contents.top div.news ul li {
  border-top: solid 1px #ccc;
  text-align: center;
  font-size: 125%;
  padding: 25px 0;
  line-height: 2.0em;
}
div#contents.top div.news p a.btnBlk {
  width: 100%;
  font-size: 166%;
  padding: 30px 0;
}
div#contents.top div.access {
  overflow: hidden;
  *zoom: 1;
}
div#contents.top div.access h2 {
  padding-bottom: 65px;
  margin-bottom: 25px;
  background: url(../../images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contents.top div.access div.map {
  margin-bottom: 35px;
}
div#contents.top div.access div#map {
  width: 100%;
  height: 450px;
  margin-bottom: 35px;
}
div#contents.top div.access div.fl {
  font-size: 116%;
  line-height: 1.6em;
  width: 47%;
}
div#contents.top div.access div.fl h4 {
  font-weight: bold;
}
div#contents.top div.access div.fl dl {
  margin-bottom: 25px;
  padding-left: 55px;
}
div#contents.top div.access div.fl dl dt {
  font-weight: bold;
}
div#contents.top div.access div.fl dl.train {
  background: url(../../images/common/icon_train.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.car {
  background: url(../../images/common/icon_car.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.car dd span.note {
  color: #ff4f6c;
}
div#contents.top div.access div.fl dl.bus {
  background: url(../../images/common/icon_bus.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.bus dd ul {
  list-style: numelic;
  padding-left: 18px;
}
div#contents.top div.access p.fr {
  width: 53%;
  padding-bottom: 40px;
}
div#contents.top div.access p.fr img {
  width: 100%;
  height: auto;
}
div#contents.top div.access div.transportation {
  padding-bottom: 45px;
  clear: both;
  background: url(../../images/top/shadow.png) no-repeat center bottom;
}
div#contents.top div.access div.transportation div.inner {
  background-color: #f0f2e0;
  text-align: center;
}
div#contents.top div.access div.transportation div.inner h3 {
  padding: 45px 0 100px;
  background: url(../../images/common/icon_taxi.png) no-repeat center 86%;
}
div#contents.top div.access div.transportation div.inner p {
  font-size: 116%;
  line-height: 1.6em;
}
div#contents.top div.access div.transportation div.inner p.tl {
  margin-top: 35px;
}
div#contents.top div.access div.transportation div.inner dl.date dt {
  font-size: 133%;
  margin-top: 10px;
  margin-bottom: 20px;
}
div#contents.top div.access div.transportation div.inner dl.date dd.time {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  font-size: 133%;
  padding: 12px 0;
  margin: 0 3px 15px;
  width: 200px;
}
div#contents.top div.access div.transportation div.inner dl.date dd {
  margin: 0;
}
div#contents.top div.access div.transportation div.inner ul.flow {
  padding: 15px 0 50px;
}
div#contents.top div.access div.transportation div.inner ul.flow li {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 260px;
  height: 160px;
  margin: 0 13px;
}
div#contents.top div.access div.transportation div.inner ul.flow li dl dt {
  text-align: center;
  padding: 22px 0 12px;
}
div#contents.top div.access div.transportation div.inner ul.flow li dl dd {
  text-align: left;
  padding: 0 28px;
}




/*============================
#contents
============================*/
div#contents {
  padding-top: 60px;
}
div#contents div.titleArea {
  height: 450px;
  margin-bottom: 60px;
}
div#contents div.titleArea h1 {
  text-align: center;
  padding: 195px;
  background: url(../../images/common/icon_logo_wht.png) no-repeat center 130px;
}
div#contents div.block01 p, div#contents div.block02 p, div#contents div.block03 p {
  font-size: 116%;
  line-height: 1.8em;
}
div#contents h2{
  margin-bottom: 25px;
  font-size:150%;
}
div#contents div.block01 {
  overflow: hidden;
  *zoom: 1;
}
div#contents div.block02 {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 55px;
}
div#contents div.block02 div.fr {
  padding: 60px 30px 0 0;
}
div#contents div.block03 {
  overflow: hidden;
  *zoom: 1;
}
div#contents div.block03 div {
  width: 49.8%;
}
div#contents div.block03 div p.img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
div#contents div.block03 div p {
  padding-right: 10px;
}
div#contents div.block03 div.fr {
  width: 49.8%;
}
div#contents div.block03 div.fr p.img {
  width: 100%;
  height: auto;
}
div#contents div.linkArea {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  text-align: center;
  padding: 55px 0;
  margin-top: 90px;
}
div#contents div.linkArea dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 45px;
}
div#contents div.linkArea dl dt {
  margin-bottom: 35px;
}
div#contents div.linkArea dl dd {
  margin-bottom: 6px;
}

/*============================
#engi
============================*/
div#contents.engi div.titleArea {
  background: url(../../images/engi/img_engi_main.jpg) no-repeat 0 0;
}
div#contents.engi div.block01 {
  overflow: hidden;
  *zoom: 1;
  height: 350px;
}

/*============================
#eitaikuyou
============================*/
div#contents.eitaikuyou h2{
  margin-bottom: 10px;
}

div#contents.eitaikuyou div.block01 {
  margin-bottom: 55px;
}
div#contents.eitaikuyou div.block02 div.fr {
  width:550px;
}
div#contents.eitaikuyou div.titleArea {
  background: url(../../images/eitaikuyou/eitaikuyou_bk.jpg) no-repeat 0 0;
}
div#contents.eitaikuyou div.block02 h2{
  padding-top: 60px;
  padding-left: 420px;
}

div#contents.eitaikuyou div.block02 div.fr {
  padding: 0px 30px 0 0;
}

div#contents.eitaikuyou div.ennokai {
  background-color:#eeeeee ;
  width:1000px;
  padding-top:28px;
  padding-bottom:50px;
}
div#contents.eitaikuyou div.ennokai .ml{
  margin-left:50px;
}
div#contents.eitaikuyou div.ennokai .mr{
  margin-right:50px;
}

div#contents.eitaikuyou div.ennokai .img{
  margin-bottom:5px;
}

div#contents.eitaikuyou div.member-flow {
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ","ＭＳ Ｐゴシック",sans-serif;
}

div#contents.eitaikuyou p.bl {
  font-weight:bold;
  font-size:16px;
  padding-left:68px;
}
div#contents.eitaikuyou div.member-flow dl {
  width:1000px;
  border:1px solid gray;
  margin-bottom:50px;
  display:inline-block;
  background-color:#eeeeee;
}

div#contents.eitaikuyou div.member-flow dt,
div#contents.eitaikuyou div.member-flow dd {
  padding:20px;
  box-sizing:border-box;
}

div#contents.eitaikuyou div.member-flow dt {
  background-color:#eeeeee;
  font-size:20px;
}

div#contents.eitaikuyou div.member-flow dd {
  font-size:14px;
}

div#contents.eitaikuyou div.member-flow .center {
  text-align:center;
}

div#contents.eitaikuyou div.member-flow .mark {
  margin-top:-25px;
  margin-bottom:25px;
}

div#contents.eitaikuyou div.member-flow .wht {
  background-color:white;
}

div#contents.eitaikuyou div.member-flow .ht {
  line-height:1.8em;
}

div#contents.eitaikuyou div.member-flow dl.hiyou {
  border-bottom:none;
  background-color:#eeeeee;
}

div#contents.eitaikuyou div.member-flow dl.hiyou span.one{
  font-size:20px;
}

div#contents.eitaikuyou div.member-flow dl.hiyou span.price{
  font-size:40px;
}

div#contents.eitaikuyou div.member-flow .hiyou dt{
  width:300px;
  clear:left;
  float:left;
}

div#contents.eitaikuyou div.member-flow .hiyou dd{
  padding-left:320px;
  background-color:#ffffff;
  border-bottom:1px solid black ;
}
div#contents.eitaikuyou div.member-flow .hiyou .nyukaihi {
  height:168px;
  padding:80px 0 0 70px;
}
div#contents.eitaikuyou div.member-flow .hiyou .dd_nyukaihi {
  height:169px;
}
div#contents.eitaikuyou div.member-flow .hiyou .nenkaihi {
  height:98px;
  padding:40px 0 0 115px;

}
div#contents.eitaikuyou div.member-flow .hiyou .dd_nenkaihi {
  height:100px;
  font-size:20px;
}
div#contents.eitaikuyou div.member-flow .hiyou li{
  float:left;
  border:1px solid gray;
  padding:5px 15px 5px 15px;
  margin-top:10px;
}
div#contents.eitaikuyou div.member-flow .hiyou li.issiki{
  border:none;
}
div#contents.eitaikuyou div.member-flow .dd_nenkaihi span.none{
  font-size:14px;
}



/*============================
#doubutsusou
============================*/
div#contents.doubutsusou div.block01 {
  width:700px;
  margin: 0px auto ;
}

div#contents.doubutsusou .titleArea {
  background: url(../../images/doubutsusou/doubutsusou_bk.jpg) no-repeat 0 0;
}

/*============================
#teiensou
============================*/
div#contents.teiensou div.titleArea {
  background: url(../../images/teiensou/teiensou_bk.jpg) no-repeat 0 0;
}
div#contents.teiensou div.block01 .single {
  max-width:600px;
  margin:0 auto 50px;
}
div#contents.teiensou div.block01 div.fl{
  margin-bottom:50px;
}
div#contents.teiensou div.block01 div.fl dl{
  font-size: 116%;
  line-height: 1.8em;
}

/*============================
#news
============================*/
div#contents .news {
  margin:0px auto 50px;
  padding-bottom:50px;
}

div#contents .news ul.list {
  border-bottom: solid 1px #ccc;
  margin-bottom: 40px;
}
div#contents .news ul li.ct {
  border-top: solid 1px #ccc;
  text-align: center;
  font-size: 125%;
  padding: 25px 0;
  line-height: 2.0em;
}
div#contents .news h1 {
  padding-top:45px;
  text-align:center;
  background: url(../../images/common/icon_logo_blk.png) no-repeat center top 110px;
  height:130px;
}

div#contents ul.news-paging {
  text-align: center;
  padding-bottom: 65px;
}

div#contents ul.news-paging h2 {
  display: none;
}

div#contents ul.news-paging li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 25px;
  font-size: 283%;
}

div#contents ul.news-paging span.current {
  color: #aeaeae;
}

div#contents ul.news-paging a:hover li {
  text-decoration: underline;
}


div#contents.news ul.sort li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px 20px;
  font-size: 133%;
}



/*============================
#magazine
============================*/
div#contents.magazine h1,
div#contents.magazine-detail h1 {
  padding: 100px 0 55px;
  text-align: center;
}
div#contents.magazine ul.sort,
div#contents.magazine-detail ul.sort {
  border-top: solid 1px #d3d3d3;
  border-bottom: solid 1px #d3d3d3;
  text-align: center;
  background: url(../../images/common/icon_search.png) no-repeat 98% center;
  margin-bottom: 50px;
}
div#contents.magazine ul.sort li,
div#contents.magazine-detail ul.sort li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px 20px;
  font-size: 133%;
}
div#contents.magazine div.recommend {
  max-width: 600px;
  margin: 0 auto 50px;
}
div#contents.magazine div.recommend p {
  position: relative;
}
div#contents.magazine div.recommend p img {
  width: 100%;
  height: auto;
}
div#contents.magazine div.recommend p img.iconNew {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
div#contents.magazine div.recommend p.date {
  font-size: 150%;
  text-align: center;
  padding: 20px 0;
}
div#contents.magazine div.recommend p.tl {
  font-size: 166%;
  text-align: center;
  padding-bottom: 20px;
}
div#contents.magazine ul.magazineList {
  overflow: hidden;
  *zoom: 1;
  margin-right: -50px;
  margin-bottom: 60px;
}

div#contents.magazine ul.magazineList li {
  float: left;
  margin-right: 50px;
  height: 330px;
  width:300px;
}
div#contents.magazine ul.magazineList li p {
  position: relative;
  text-align: center;
  width: 280px;
  padding: 0 10px;
}
div#contents.magazine ul.magazineList li p.img {
  width: 300px;
  padding: 0;
}
div#contents.magazine ul.magazineList li p img {
  width: 100%;
  height: auto;
}
div#contents.magazine ul.magazineList li p img.iconNew {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
div#contents.magazine ul.magazineList li p.date,
div#contents.magazine ul.pages li p.date {
  font-size: 133%;
  padding: 10px 0;
}
div#contents.magazine ul.magazineList li p.tl,
div#contents.magazine ul.pages li p.tl {
  font-size: 133%;
  line-height: 1.4em;
}
div#contents.magazine ul.paging {
  text-align: center;
  padding-bottom: 65px;
}
div#contents.magazine ul.paging li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 25px;
  font-size: 283%;
}
div#contents.magazine ul.paging li span {
  color: #aeaeae;
}
div#contents.magazine-detail .post,
div#contents.news-detail .post {
  width:600px;
  margin:0 auto;
  padding-bottom:60px;
}
div#contents.magazine-detail .post .title,
div#contents.news-detail .post .title {
  text-align:center;
}

div#contents.magazine-detail .post .date,
div#contents.news-detail .post .date {
  font-size:150%;
}

div#contents.magazine-detail .post h2,
div#contents.news-detail .post h2 {
  font-size:166%;
  padding-top:20px;
}
div#contents.news-detail h2 {
  text-align:center;
}
div#contents.magazine-detail .post img,
div#contents.news-detail .post img {
  padding:30px 0 30px 0 ;
  width:600px;
  height:400px;
} 
div#contents.magazine-detail div.post p,
div#contents.news-detail div.post p {
  font-size: 116%;
  line-height: 1.8em;
}

div#contents.magazine ul.pages li img {
  width: 300px;
  height:200px;
}
div#contents.magazine ul li {
  padding-top:15px;
}
div#contents.news-detail h1 {
  padding-top:45px;
  text-align:center;
  background: url(../../images/common/icon_logo_blk.png) no-repeat center top 110px;
  height:130px;
}

div#contents.news-detail ul li {
  font-size:140%;
  padding:5px;
  width:280px;
}

div#contents.magazine-detail ul.pages li.before,
div#contents.news-detail ul.pages li.before {
  float:left;
  padding:0px 0px 100px 175px;
 }

div#contents.magazine-detail ul.pages li.after,
div#contents.news-detail ul.pages li.after {
  float:right;
  padding:0px 175px 100px 0px;
}

div#contents.magazine-detail .preview,
div#contents.news-detail .preview {
  float:left;
  padding-top:21px;
  font-size:150%;
  margin-bottom: 20px;
  padding-right:20px;

}

div#contents.magazine-detail .next,
div#contents.news-detail .next {
  float:right;
  padding-top:20px;
  font-size:150%;
  margin-bottom: 20px;
  padding-left:20px;
}

div#contents.magazine-detail span.post-title {
  font-size: 133%;
}
div#contents.magazine-detail ul.pages li p.date {
  font-size: 133%;
  padding: 10px 0;
}
div#contents.magazine-detail ul.pages li p.tl {
  font-size: 133%;
}
div#contents.magazine-detail ul.pages li p {
  position: relative;
  text-align: center;
}


/*============================
#contact
============================*/
div#contents.contact-inner {
  padding-top: 100px;
  margin: 0px auto 50px;
}
div#contents.contact-inner div.block01 h1{
  font-weight:bold;
  font-size:150%;
  text-align:center;
}
div#contents.contact-inner div.block01 h2 {
  background: url(../../images/common/icon_logo_wht.png) no-repeat center 130px;
}
div#contents.contact-inner div.block01 p, div#contents.contact-inner div.block02 p, div#contents.contact-inner div.block03 p {
  font-size: 116%;
  line-height: 1.8em;
}
div#contents.contact-inner div.block01 h2, div#contents.contact-inner div.block02 h2, div#contents.contact-inner div.block03 h2 {
  margin-bottom: 25px;
}
div#contents.contact-inner div.block01 {
  width:600px;
  margin:0 auto;
  overflow: hidden;
  *zoom: 1;
}
.form-group{
  width:600px;
  margin:0 auto;
  padding: 1em 0.5em;
  line-height: 1.8;
  font-size:116%;
  border-bottom: solid 1px #ccc;
}

div#contents.contact-inner .cb{
  clear:both;
}

div#contents.contact-inner .phone{
  min-height:80px;
}

div#contents.contact-inner .half {
  width:280px;
}

div#contents.contact-inner .text-center {
  text-align:center;
}
div#contents.contact-inner .button a{
  display: inline-block;
  background: url(../../images/contact/contact_hover_button.png) no-repeat;
  background-size: cover;
}

div#contents.contact-inner .button a img {
  vertical-align: middle;
  transition: opacity 0.3s;
}

div#contents.contact-inner .button a:hover img {
  opacity: 0;
}

div#contents.contact-inner .submit_btn {
  cursor: pointer;
  border: none;
  width: 227px;
  height: 45px;
  background: url(../../images/contact/contact_button.png) no-repeat;
  text-indent: 9999px;
}

div#contents.contact-inner .submit_btn:hover {
  background: url(../../images/contact/contact_hover_button.png) no-repeat;

}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div#contents.contact-inner div.linkArea {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  text-align: center;
  padding: 55px 0;
  margin-top: 90px;
}
div#contents.contact-inner div.linkArea dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 45px;
}
div#contents.contact-inner div.linkArea dl dt {
  margin-bottom: 35px;
}
div#contents.contact-inner div.linkArea dl dd {
  margin-bottom: 6px;
}

/* */

div.wpcf7-validation-errors {
  width: 600px;
  margin: 20px auto;
  border: none;
  text-align: center;
  font-size: 133%;
  color: #ff0000;
}

span.wpcf7-not-valid-tip {
  padding: 8px 8px 0;
}

.clearfix {
  clear:both;
  line-height: 0;
}


/*============================
#facility
============================*/

div#contents.facility h2, h3 {
  font-size:24px;
  font-weight:bold;
}

div#contents.facility .titleArea {
  background: url(../../images/facility/facility.jpg) no-repeat 0 0;
}

div#contents.facility div.block02 .cb{
  clear:both;
  padding-right:2px;
}

div#contents.facility div.block02 .img{
  margin-bottom:15px;
}

div#contents.facility div.block03 p.mb-5 {
  margin-bottom:-5px;
}

div#contents.facility div.block04 p, .block05 p, .block06 p {
  font-size: 116%;
  line-height: 1.8em;
}

