/*============================
#contents
============================*/
div#contents.doubutsusou {
  padding-top: 60px;
}
div#contents.doubutsusou div.titleArea {
  background: url(/images/doubutsusou/doubutsusou_bk.jpg) no-repeat 0 0;
  height: 450px;
  margin-bottom: 60px;
}
div#contents.doubutsusou div.titleArea h1 {
  text-align: center;
  padding: 195px;
  background: url(/images/common/icon_logo_wht.png) no-repeat center 130px;
}
div#contents.doubutsusou div.block01 p, div#contents.doubutsusou div.block02 p, div#contents.doubutsusou div.block03 p {
  font-size: 116%;
  line-height: 1.8em;
}
div#contents.doubutsusou div.block01 h2, div#contents.doubutsusou div.block02 h2, div#contents.doubutsusou div.block03 h2 {
  margin-bottom: 25px;
  font-size:150%;
}
div#contents.doubutsusou div.block01 {
  overflow: hidden;
  *zoom: 1;
  height: 350px;
  width:700px;
  margin: 0px auto ;
}
div#contents.doubutsusou div.block02 {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 55px;
}
div#contents.doubutsusou div.block02 div.fr {
  padding: 60px 30px 0 0;
}
div#contents.doubutsusou div.block03 {
  overflow: hidden;
  *zoom: 1;
}
div#contents.doubutsusou div.block03 div {
  width: 49.8%;
}
div#contents.doubutsusou div.block03 div p.img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
div#contents.doubutsusou div.block03 div p {
  padding-right: 10px;
}
div#contents.doubutsusou div.block03 div.fr {
  width: 49.8%;
}
div#contents.doubutsusou div.block03 div.fr p.img {
  width: 100%;
  height: auto;
}
div#contents.doubutsusou div.linkArea {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  text-align: center;
  padding: 55px 0;
  margin-top: 90px;
}
div#contents.doubutsusou div.linkArea dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 45px;
}
div#contents.doubutsusou div.linkArea dl dt {
  margin-bottom: 35px;
}
div#contents.doubutsusou div.linkArea dl dd {
  margin-bottom: 6px;
}
