/*============================
#news
============================*/

div#contents .news {
  padding-top: 100px;
  width:1000px;
  margin:0px auto 50px;
}
div#contents .news h2 {
  padding-bottom: 65px;
  margin-bottom: 25px;
  text-align:center;
  background: url(/images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contents .news ul {
  border-bottom: solid 1px #ccc;
  margin-bottom: 40px;
}
div#contents .news ul li {
  border-top: solid 1px #ccc;
  text-align: center;
  font-size: 125%;
  padding: 25px 0;
  line-height: 2.0em;
}
div#contents .news div.linkArea {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  text-align: center;
  padding: 55px 0;
  margin-top: 90px;
}
div#contents .news div.linkArea dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 45px;
}
div#contents .news div.linkArea dl dt {
  margin-bottom: 35px;
}
div#contents .news div.linkArea dl dd {
  margin-bottom: 6px;
}
div#contents ul.news-paging {
  text-align: center;
  padding-bottom: 65px;
}
div#contents ul.news-paging li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 25px;
  font-size: 283%;
}
div#contents ul.news-paging li span {
  color: #aeaeae;
}
div#contents.news ul.sort li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px 20px;
  font-size: 133%;
}
