html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

div.introduction {
  background: url(/images/top/img_main.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  text-align: center;
  z-index: 900;
  overflow: hidden;
}

div.introduction div.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
div.introduction div.inner p {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 258px 55px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.4);
  opacity: 0.4;
  position: relative;
}

div.introduction div.inner p img {
  opacity:0.6;
  filter:alpha(opacity=60);
}

div.introduction div.inner p img:hover{
  opacity:0.9;
  filter:alpha(opacity=90);
}

div.introduction div.inner h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 100px 65px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
div.introduction div.inner p.arrow {
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -30px;
  padding: 0;
}
div.introduction div.inner p.arrow a {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/images/common/arrow01.png) no-repeat 0 0;
}
div.introduction div.inner p.arrow a:hover {
  background-position: 0 bottom;
}

/*============================
#contents
============================*/
div#contents.top h2 {
  padding: 100px 0 40px;
  text-align: center;
}
div#contents.top ul.know {
  margin-right: -2px;
  overflow: hidden;
  *zoom: 1;
}
div#contents.top ul.know li {
  float: left;
  width: 499px;
  height: 450px;
  text-align: center;
  margin-right: 2px;
  margin-bottom: 2px;
  position: relative;
}
div#contents.top ul.know li h3 {
  padding-top: 150px;
  padding-bottom: 15px;
}
div#contents.top ul.know li p {
  color: #fff;
  font-size: 133%;
  line-height: 1.6em;
}
div#contents.top ul.know li p a.btnWht {
  width: 54%;
  margin-top: 20px;
  font-size: 116%;
}
div#contents.top ul.know li.box01 {
  background: url(/images/top/img_know01.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box02 {
  background: url(/images/top/img_know02.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box02 p.sub {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 110px;
}
div#contents.top ul.know li.box03 {
  background: url(/images/top/img_know03.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top ul.know li.box04 {
  background: url(/images/top/img_know04.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#contents.top div.read {
  background: url(/images/top/img_read.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.read h3 {
  padding: 90px 0 40px;
}
div#contents.top div.read dl {
  color: #fff;
}
div#contents.top div.read dl dd {
  font-size: 116%;
  margin-bottom: 10px;
}
div#contents.top div.read dl dt {
  font-size: 150%;
  margin-bottom: 25px;
}
div#contents.top div.read dl dt a {
  color: #fff;
}
div#contents.top div.read p a.btnWht {
  width: 440px;
  margin-top: 15px;
  font-size: 150%;
}
div#contents.top div.look {
  background: url(/images/top/img_look.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.look h3 {
  padding: 170px 0 30px;
}
div#contents.top div.look p {
  font-size: 133%;
  color: #fff;
}
div#contents.top div.look p a.btnWht {
  width: 440px;
  margin-top: 30px;
  font-size: 116%;
}
div#contents.top div.visit {
  background: url(/images/top/img_visit.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  text-align: center;
}
div#contents.top div.visit h3 {
  padding: 145px 0 30px;
}
div#contents.top div.visit p {
  font-size: 133%;
  color: #fff;
}
div#contents.top div.visit p a.btnWht {
  width: 440px;
  margin-top: 30px;
  font-size: 116%;
}
div#contents.top div.news h2 {
  padding-bottom: 65px;
  margin-bottom: 25px;
  background: url(/images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contents.top div.news ul {
  border-bottom: solid 1px #ccc;
  margin-bottom: 40px;
}
div#contents.top div.news ul li {
  border-top: solid 1px #ccc;
  text-align: center;
  font-size: 125%;
  padding: 25px 0;
  line-height: 2.0em;
}
div#contents.top div.news p a.btnBlk {
  width: 100%;
  font-size: 166%;
  padding: 30px 0;
}
div#contents.top div.access {
  overflow: hidden;
  *zoom: 1;
}
div#contents.top div.access h2 {
  padding-bottom: 65px;
  margin-bottom: 25px;
  background: url(/images/common/icon_logo_blk.png) no-repeat center bottom;
}
div#contents.top div.access div.map {
  margin-bottom: 35px;
}
div#contents.top div.access div#map {
  width: 100%;
  height: 450px;
  margin-bottom: 35px;
}
div#contents.top div.access div.fl {
  font-size: 116%;
  line-height: 1.6em;
  width: 47%;
}
div#contents.top div.access div.fl h4 {
  font-weight: bold;
}
div#contents.top div.access div.fl dl {
  margin-bottom: 25px;
  padding-left: 55px;
}
div#contents.top div.access div.fl dl dt {
  font-weight: bold;
}
div#contents.top div.access div.fl dl.train {
  background: url(/images/common/icon_train.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.car {
  background: url(/images/common/icon_car.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.car dd span.note {
  color: #ff4f6c;
}
div#contents.top div.access div.fl dl.bus {
  background: url(/images/common/icon_bus.png) no-repeat 0 0;
}
div#contents.top div.access div.fl dl.bus dd ul {
  list-style: numelic;
  padding-left: 18px;
}
div#contents.top div.access p.fr {
  width: 53%;
  padding-bottom: 40px;
}
div#contents.top div.access p.fr img {
  width: 100%;
  height: auto;
}
div#contents.top div.access div.transportation {
  padding-bottom: 45px;
  clear: both;
  background: url(/images/top/shadow.png) no-repeat center bottom;
}
div#contents.top div.access div.transportation div.inner {
  background-color: #f0f2e0;
  text-align: center;
}
div#contents.top div.access div.transportation div.inner h3 {
  padding: 45px 0 100px;
  background: url(/images/common/icon_taxi.png) no-repeat center 86%;
}
div#contents.top div.access div.transportation div.inner p {
  font-size: 116%;
  line-height: 1.6em;
}
div#contents.top div.access div.transportation div.inner p.tl {
  margin-top: 35px;
}
div#contents.top div.access div.transportation div.inner dl.date dt {
  font-size: 133%;
  margin-top: 10px;
  margin-bottom: 20px;
}
div#contents.top div.access div.transportation div.inner dl.date dd.time {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  font-size: 133%;
  padding: 12px 0;
  margin: 0 3px 15px;
  width: 200px;
}
div#contents.top div.access div.transportation div.inner dl.date dd {
  margin: 0;
}
div#contents.top div.access div.transportation div.inner ul.flow {
  padding: 15px 0 50px;
}
div#contents.top div.access div.transportation div.inner ul.flow li {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 260px;
  height: 160px;
  margin: 0 13px;
}
div#contents.top div.access div.transportation div.inner ul.flow li dl dt {
  text-align: center;
  padding: 22px 0 12px;
}
div#contents.top div.access div.transportation div.inner ul.flow li dl dd {
  text-align: left;
  padding: 0 28px;
}
