@import "compass";

a { color:#000; text-decoration:none; }
a:hover {color:#000; text-decoration:underline; }
a:hover img {
	@include opacity(0.8);
}
a:visited {color:#333; }

.cinzel{font-family: 'Cinzel', serif;}
.gothic{font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ","ＭＳ Ｐゴシック",sans-serif;}

a.btnWht {
	color:#fff;
	@include inline-block;
	text-align:center;
	@include border-radius(4px);
	border:solid 1px #fff;
	padding:12px 0;
	&:hover {
		background-color:#fff;
		color:#000;
		text-decoration:none;
	}
}

a.btnBlk {
	color:#000;
	@include inline-block;
	text-align:center;
	@include border-radius(4px);
	border:solid 1px #000;
	padding:12px 0;
	&:hover {
		background-color:#000;
		color:#fff;
		text-decoration:none;
	}
}

/*============================
#header
============================*/
div#header {
	position:fixed;
	width:100%;
	height:60px;
	background:url(/images/common/bg_head.png) repeat 0 0;
	z-index:1000;
	&.intro{
		background-color:#fff;
	}
	p.logo {
		padding:10px 0 0 10px;
		float:left;
	}
	ul {
		float:right;
		padding-top:22px;
		padding-right:20px;
		li {
			float:left;
			padding-left:12px;
		}
		&.mainMenu {
			font-size:150%;
			margin-right:20px;
			li {
				padding-left:20px;
			}
		}
	}
}

/*============================
#contents
============================*/
div#contents {
	max-width:1000px;
	margin:0 auto;
	div.contact {
		text-align:center;
		padding-bottom:100px;
		h2 {
			padding: 50px 0 65px;
			margin-bottom:40px;
			background:url(/images/common/icon_logo_blk.png) no-repeat center bottom;
		}
		h3 {
			padding:35px 0 10px;
		}
		p.tel {
			font-size:416%;
			line-height:1.0em;
			margin:15px 0 5px;
			letter-spacing:1px;
		}
		p.fax {
			font-size:166%;
			margin:15px 0 25px;
			letter-spacing:1px;
		}
		p {
			a.btnBlk {
				width:100%;
				font-size:183%;
				padding:32px 0;
				margin-top:35px;
			}
		}
	}
}

/*============================
#footer
============================*/
div#footer {
	border-top:solid 1px #e5e5e5;
	text-align:center;
	padding:40px 0 50px;
	h2 {
		font-size:133%;
		margin-bottom:15px;
	}
	p.link {
		line-height:1.6em;
		a:after {
			content: "";
			@include inline-block;
			width:1px;
			height:12px;
			background-color:#000;
			margin: 0 10px;

		}
		a.al:after {
			white-space: pre;
			content: "\a";
			margin-right: 0;
			display:inline;
		}
		a.last:after {
			content: none;
			margin: 0;
		}
	}
	p.copyright {
		margin-top:40px;
	}
}

p#pagetop {
	position:fixed;
	bottom:50px;
	right:50px;
	a {
		display:block;
		width:48px;
		height:48px;
		background:url(/images/common/arrow02.png) no-repeat 0 0;
		text-indent:-9999px;
		overflow:hidden;
		&:hover {
			background-position:0 bottom;
		}
	}
}