@import "compass";

/*============================
#contents
============================*/
div#contents.engi {
	padding-top:60px;
	div.titleArea {
		background:url(/images/engi/img_engi_main.jpg) no-repeat 0 0;
		height:450px;
		margin-bottom:60px;
		h1 {
			text-align:center;
			padding:195px;
			background:url(/images/common/icon_logo_wht.png) no-repeat center 130px;
		}
	}
	div.block01,div.block02,div.block03 {
		p {
			font-size:116%;
			line-height:1.8em;
		}
		h2 {
			margin-bottom:25px;
		}
	}
	
	div.block01 {
		@include clearfix;
		height:350px;
	}
	div.block02 {
		@include clearfix;
		margin-bottom:55px;
		div.fr {
			padding:60px 30px 0 0;
		}
	}
	div.block03 {
		@include clearfix;
		div {
			width:49.8%;
			p.img {
				width:100%;
				height:auto;
				margin-bottom:30px;
			}
			p {
				padding-right:10px;
			}
		}
		div.fr {
			width:49.8%;
			p.img {
				width:100%;
				height:auto;
			}
		}
	}
	div.linkArea {
		border-top:solid 1px #dddddd;
		border-bottom:solid 1px #dddddd;
		text-align:center;
		padding:55px 0;
		margin-top:90px;
		dl {
			@include inline-block;
			vertical-align:top;
			padding:0 45px;
			dt {
				margin-bottom:35px;
			}
			dd {
				margin-bottom:6px;
			}
		}
	}
}