@import "compass";

/*============================
#contents
============================*/
div#contents.magazine {
	h1 {
		padding:130px 0 55px;
		text-align:center;
	}
	ul.sort {
		border-top:solid 1px #d3d3d3;
		border-bottom:solid 1px #d3d3d3;
		text-align:center;
		background:url(/images/common/icon_search.png) no-repeat 98% center;
		margin-bottom:50px;
		li {
			@include inline-block;
			padding:12px 20px;
			font-size:133%;
		}
	}
	div.recommend {
		max-width:600px;
		margin:0 auto 50px;
		p {
			position:relative;
			img {
				width:100%;
				height:auto;
			}
			img.iconNew {
				width:60px;
				height:60px;
				position:absolute;
				bottom:-20px;
				left:10px;
			}
		}
		p.date {
			font-size:150%;
			text-align:center;
			padding:20px 0;
		}
		p.tl {
			font-size:166%;
			text-align:center;
			padding-bottom:20px;
		}
	}
	ul.magazineList {
		@include clearfix;
		margin-right:-50px;
		margin-bottom:60px;
		li {
			float:left;
			margin-right:50px;
			height:330px;
			p {
				position:relative;
				text-align:center;
				img {
					width:100%;
					height:auto;
				}
				img.iconNew {
					width:60px;
					height:60px;
					position:absolute;
					bottom:-20px;
					left:10px;
				}
			}
			p.date {
				font-size:133%;
				padding:10px 0;
			}
			p.tl {
				font-size:133%;
				line-height:1.4em;
			}
		}
	}
	ul.paging {
		text-align:center;
		padding-bottom:65px;
		li {
			@include inline-block;
			padding:0 25px;
			font-size:283%;
			span {
				color:#aeaeae;
			}
		}
	}
}