@import "compass/reset";

html, body {
	font-family: "游明朝体", YuMincho, "ヒラギノ明朝 ProN W3", "HiraMinProN-W", "Hiragino Mincho Pro", "メイリオ", Meiryo, "HG明朝E" ,"ＭＳ Ｐ明朝","ＭＳ 明朝", serif;
	font-size:12px;
	line-height:1.4em;
	color: #000000;
}