@import "compass";

html {
	overflow-y:scroll;
}

body {
	overflow:hidden;
}

div.introduction {
	background:url(/images/top/img_main.jpg) no-repeat center bottom;
	@include background-size(cover);
	position:fixed;
	width:100%;
	min-width:1000px;
	height:100%;
	text-align:center;
	z-index:900;
	overflow:hidden;
	div.inner {
		position:relative;
		width:100%;
		height:100%;
		text-align:center;
		p {
			@include inline-block;
			padding:258px 55px 0;
			@include opacity(0);
			position:relative;
		}
		h1 {
			@include inline-block;
			padding:100px 65px 0;
			@include opacity(0);
		}
		p.arrow {
			position:absolute;
			left:50%;
			bottom:25px;
			margin-left:-30px;
			padding:0;
			a {
				display:block;
				width:60px;
				height:60px;
				text-indent:-9999px;
				overflow:hidden;
				background:url(/images/common/arrow01.png) no-repeat 0 0;
				&:hover {
					background-position:0 bottom;
				}
			}
		}
	}
}

/*============================
#contents
============================*/
div#contents.top {
	h2 {
		padding:100px 0 40px;
		text-align:center;
	}
	ul.know {
		margin-right:-2px;
		@include clearfix;
		li {
			float:left;
			width:499px;
			height:450px;
			text-align:center;
			margin-right:2px;
			margin-bottom:2px;
			position:relative;
			h3 {
				padding-top:150px;
				padding-bottom:15px;
			}
			p {
				color:#fff;
				font-size:133%;
				line-height:1.6em;
				a.btnWht {
					width:54%;
					margin-top:20px;
					font-size:116%;
				}
			}
		}
		li.box01 {
			background:url(/images/top/img_know01.jpg) no-repeat center 0;
			@include background-size(cover);
		}
		li.box02 {
			background:url(/images/top/img_know02.jpg) no-repeat center 0;
			@include background-size(cover);
			p.sub {
				position:absolute;
				width:100%;
				text-align:center;
				top:110px;
			}
		}
		li.box03 {
			background:url(/images/top/img_know03.jpg) no-repeat center 0;
			@include background-size(cover);
		}
		li.box04 {
			background:url(/images/top/img_know04.jpg) no-repeat center 0;
			@include background-size(cover);
		}
	}
	div.read {
		background:url(/images/top/img_read.jpg) no-repeat center 0;
		@include background-size(cover);
		height:450px;
		text-align:center;
		h3 {
			padding:90px 0 40px;
		}
		dl {
			color:#fff;
			dd {
				font-size:116%;
				margin-bottom:10px;
			}
			dt {
				font-size:150%;
				margin-bottom:25px;
				a {
					color:#fff;
				}
			}
		}
		p {
			a.btnWht {
				width:440px;
				margin-top:15px;
				font-size:150%;
			}
		}
	}
	div.look {
		background:url(/images/top/img_look.jpg) no-repeat center 0;
		@include background-size(cover);
		height:450px;
		text-align:center;
		h3 {
			padding:170px 0 30px;
		}
		p {
			font-size:133%;
			color:#fff;
			a.btnWht {
				width:440px;
				margin-top:30px;
				font-size:116%;
			}
		}
	}
	div.visit {
		background:url(/images/top/img_visit.jpg) no-repeat center 0;
		@include background-size(cover);
		height:450px;
		text-align:center;
		h3 {
			padding:145px 0 30px;
		}
		p {
			font-size:133%;
			color:#fff;
			a.btnWht {
				width:440px;
				margin-top:30px;
				font-size:116%;
			}
		}
	}
	div.news {
		h2 {
			padding-bottom:65px;
			margin-bottom:25px;
			background:url(/images/common/icon_logo_blk.png) no-repeat center bottom;
		}
		ul {
			border-bottom:solid 1px #ccc;
			margin-bottom:40px;
			li {
				border-top:solid 1px #ccc;
				text-align:center;
				font-size:125%;
				padding:25px 0;
				line-height:2.0em;
				a {
				}
			}
		}
		p {
			a.btnBlk {
				width:100%;
				font-size:166%;
				padding:30px 0;
			}
		}
	}
	div.access {
		@include clearfix;
		h2 {
			padding-bottom:65px;
			margin-bottom:25px;
			background:url(/images/common/icon_logo_blk.png) no-repeat center bottom;
		}
		div.map {
			margin-bottom:35px;
		}
		div#map {
			width:100%;
			height:450px;
			margin-bottom:35px;
		}
		div.fl {
			font-size:116%;
			line-height:1.6em;
			width:47%;
			h4 {
				font-weight:bold;
			}
			dl {
				margin-bottom:25px;
				padding-left:55px;
				dt {
					font-weight:bold;
				}
			}
			dl.train {
				background:url(/images/common/icon_train.png) no-repeat 0 0;
			}
			dl.car {
				background:url(/images/common/icon_car.png) no-repeat 0 0;
				dd {
					span.note {
						color:#ff4f6c;
					}
				}
			}
			dl.bus {
				background:url(/images/common/icon_bus.png) no-repeat 0 0;
				dd {
					ul {
						list-style:numelic;
						padding-left:18px;
					}
				}
			}
		}
		p.fr {
			width:53%;
			padding-bottom:40px;
			img {
				width:100%;
				height:auto;
			}
		}
		div.transportation {
			padding-bottom:45px;
			clear:both;
			background:url(/images/top/shadow.png) no-repeat center bottom;
			div.inner {
				background-color:#f0f2e0;
				text-align:center;
				h3 {
					padding:45px 0 100px;
					background:url(/images/common/icon_taxi.png) no-repeat center 86%;
				}
				p {
					font-size:116%;
					line-height:1.6em;
				}
				p.tl {
					margin-top:35px;
				}
				dl.date {
					dt {
						font-size:133%;
						margin-top:10px;
						margin-bottom:20px;
					}
					dd.time {
						background-color:#ffffff;
						@include border-radius(5px);
						@include inline-block;
						text-align:center;
						font-size:133%;
						padding:12px 0;
						margin:0 3px 15px;
						width:200px;
					}
					dd {
						margin:0;
					}
				}

				ul.flow {
					padding:15px 0 50px;
					li {
						background-color:#fff;
						@include border-radius(5px);
						@include inline-block;
						width:260px;
						height:160px;
						margin:0 13px;
						dl {
							dt {
								text-align:center;
								padding:22px 0 12px;
							}
							dd {
								text-align:left;
								padding:0 28px;
							}
						}
					}
				}
			}
		}
	}
}