/*============================
#contents
============================*/
div#contents.magazine h1 {
  padding: 130px 0 55px;
  text-align: center;
}
div#contents.magazine ul.sort {
  border-top: solid 1px #d3d3d3;
  border-bottom: solid 1px #d3d3d3;
  text-align: center;
  background: url(/images/common/icon_search.png) no-repeat 98% center;
  margin-bottom: 50px;
}
div#contents.magazine ul.sort li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px 20px;
  font-size: 133%;
}
div#contents.magazine div.recommend {
  max-width: 600px;
  margin: 0 auto 50px;
}
div#contents.magazine div.recommend p {
  position: relative;
}
div#contents.magazine div.recommend p img {
  width: 100%;
  height: auto;
}
div#contents.magazine div.recommend p img.iconNew {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
div#contents.magazine div.recommend p.date {
  font-size: 150%;
  text-align: center;
  padding: 20px 0;
}
div#contents.magazine div.recommend p.tl {
  font-size: 166%;
  text-align: center;
  padding-bottom: 20px;
}
div#contents.magazine ul.magazineList {
  overflow: hidden;
  *zoom: 1;
  margin-right: -50px;
  margin-bottom: 60px;
}
div#contents.magazine ul.magazineList li {
  float: left;
  margin-right: 50px;
  height: 330px;
}
div#contents.magazine ul.magazineList li p {
  position: relative;
  text-align: center;
}
div#contents.magazine ul.magazineList li p img {
  width: 100%;
  height: auto;
}
div#contents.magazine ul.magazineList li p img.iconNew {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
div#contents.magazine ul.magazineList li p.date {
  font-size: 133%;
  padding: 10px 0;
}
div#contents.magazine ul.magazineList li p.tl {
  font-size: 133%;
  line-height: 1.4em;
}
div#contents.magazine ul.paging {
  text-align: center;
  padding-bottom: 65px;
}
div#contents.magazine ul.paging li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 25px;
  font-size: 283%;
}
div#contents.magazine ul.paging li span {
  color: #aeaeae;
}
div#contents.magazine .post {
  width:600px;
  margin: 0 auto 100px;
  padding-bottom:50px;
}
div#contents.magazine .post h2 {
  font-weight:bold;
  font-size:150%;
  line-height:1.8em;
}
div#contents.magazine .post img {
  padding:30px 0 30px 0 ;
  width:600px;
  height:400px;
} 
div#contents.magazine div.post p {
  font-size: 116%;
  line-height: 1.8em;
}
